@import url(../../App.css);

#title-doc {
    color: var(--secondary-color);
}

#description {
    color: var(--fourth-color);
}

.get-start {
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    outline: none;
    padding: .8rem 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    width: fit-content;
    gap: 2rem;
    transition: .3s;
    height: fit-content;
}

.get-start:hover {
    gap: 3rem;
}
.margin-10 {
    margin-left: 100%;
}

@media only screen and (max-width: 500px) {
    .margin-10 {
        margin-right: 0;
    }
}